<div class="container">
	<div class="header">
		<div class="header-logo">
			<img src="assets/images/mystore-logo-new.png" alt="Mystore Logo" />
		</div>
		<div class="header-nav">
			<span class="header-nav-item header-nav-divider">
				<a class="header-nav-link-item" href="/">Til butikken</a>
			</span>
			<span class="header-nav-item header-nav-divider">
				<a class="header-nav-link-item" href="http://www.mystore.no/kunnskapsbase">Kunnskapsbase</a>
			</span>
			<span class="header-nav-item">
				<a class="header-nav-link-item" href="kundeforhold.php">Ditt kundeforhold</a>
			</span>
			<span class="header-nav-item">
				<img src="assets/images/creditcoins.png" alt="Credits" />530
			</span>
		</div>
	</div>
	<div class="content-container">
		<div class="sidebar">
			<a class="sidebar-nav-item" routerLink="/dashboard" routerLinkActive="active">
				<i class="fa fa-file-o fa-2x"></i>
				<span class="sidebar-nav-item-label">Forsiden</span>
			</a>
			<a class="sidebar-nav-item" routerLink="/products" routerLinkActive="active">
				<i class="fa fa-product-hunt fa-2x"></i>
				<span class="sidebar-nav-item-label">Produktkatalog</span>
			</a>
			<a class="sidebar-nav-item" routerLink="/heroes" routerLinkActive="active">
				<i class="fa fa-male fa-2x"></i>
				<span class="sidebar-nav-item-label">Ordrer/Kunder</span>
			</a>
			<a class="sidebar-nav-item" routerLink="/heroes" routerLinkActive="active">
				<i class="fa fa-paint-brush fa-2x"></i>
				<span class="sidebar-nav-item-label">Design</span>
			</a>
			<a class="sidebar-nav-item" routerLink="/heroes" routerLinkActive="active">
				<i class="fa fa-cog fa-2x"></i>
				<span class="sidebar-nav-item-label">Apps</span>
			</a>
			<a class="sidebar-nav-item" routerLink="/heroes" routerLinkActive="active">
				<i class="fa fa-newspaper-o fa-2x"></i>
				<span class="sidebar-nav-item-label">Rapporter</span>
			</a>
			<a class="sidebar-nav-item" routerLink="/heroes" routerLinkActive="active">
				<i class="fa fa-sliders fa-2x"></i>
				<span class="sidebar-nav-item-label">Konfigurasjon</span>
			</a>
			<a class="sidebar-nav-item" routerLink="/heroes" routerLinkActive="active">
				<i class="fa fa-life-ring fa-2x"></i>
				<span class="sidebar-nav-item-label">Verktøy</span>
			</a>
		</div>
		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
